Q1
a = "Karan"
b = [1,2,3.0,'Yash',True]
c = 2.50
d = ("apple", "banana", "cherry")

Q2
var1 = 'Karan'
  type('var1')
  str
  
var2 = '[DS,ML,Python]'
    type(var2)
    str
   
var3 = [ 'DS' , 'ML' , 'Python' ]
    type(var3)
    list
    
var4 = 1
    type(var4)
    int
    
